

<div class="first-block">
<h1>PitchersSolver</h1>
</div>

<div class="second-block">
<p class="根本原因発見">
「課題の根本原因発見」により</p>

<p class="成長を後押し">
野球選手の成長を後押しする</p>

<p class="pitchersSolver">
PitchersSolver</p>
</p>
</div>

<div class="forth-block">
<p class="use-title">
使い方
</p>
<p class="first-para">
①抱えている課題と、考えられる原因を投稿する </p>

<p class="second-para">
②コメント欄で全国の野球選手と意見を交換しながら根本原因を特定する</p>
</p>


</div>

<div class="fifth-block">
<p class="merit-title">
なぜ使うべきなのか
</p>

<p class="post-merit">
投稿するメリット
</p>
<p class="post-merit-explain">
根本原因特定により課題解決につながり、成長できる。</p>

<p class="comment-merit">
コメントするメリット
</p>
 
<p class="comment-merit-explain">
様々な知見に触れることで自身の課題解決能力が上がる。</p>
</div>


<div class="third-block">
<p class="info-title">
Message
</p>
<h4>
<p>「色々試してもなかなか成長できない」</p>
<p>「ライバルに勝てない」</p>
<p>「課題の根本的な原因がわからない」</p>
<p><p/>
<p>このような悩みを抱えている野球選手は多いと思います。</p>
<p>PitchersSolverは、課題の根本的な原因を全国の野球選手と</p>
<p>議論しながら発見できるプラットフォームを提供します。</p>
</h4>
</div>


<!--  コンテンツはここまで  -->

<footer>
    <small>© 2024 PitchersSolver</small>
</footer>



